{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class='jumbotron justify-content-center' align="center">
            <h1>Create Reservasi Hotel</h1>
            <hr>
            <h4>Pastikan Reservasi Anda Sudah Sesuai</h4>
        </div>
        <div class="container d-flex justify-content-center" align="center">
            <form action="{% url 'jingga:create-reservasihotel' %}" method="post" id="reservasihotel">
                {% csrf_token %}
                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                {{ form.non_field_errors }}
                </div>
                {% endif %}
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <div class="alert alert-danger alert-dismissable" role="alert">{{ message }}</div>
                    {% endfor %}
                </ul>
                {% endif %}
                
                <h4><label for="{{ form.nik.id_for_label }}">NIK</label></h4>
                {% if form.nik.errors %}
                <div class="alert alert-danger" role="alert">
                {{ form.nik.errors }}
                </div>
                {% endif %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-id-card-o"></i></span>
                    </div>
                    {{ form.nik }}
                </div>
    
                <h4><label for="{{ form.TanggalMasuk.id_for_label }}">Tanggal Masuk</label></h4>
                {% if form.tglmasuk.errors %}
                <div class="alert alert-danger" role="alert">
                {{ form.tglmasuk.errors }}
                </div>
                {% endif %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                    {{ form.tglmasuk }}
                </div>
    
    
                <h4><label for="{{ form.TanggalKeluar.id_for_label }}">Tanggal Keluar</label></h4>
                {% if form.tglkeluar.errors %}
                <div class="alert alert-danger" role="alert">
                {{ form.tglkeluar.errors }}
                </div>
                {% endif %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                    </div>
                    {{ form.tglkeluar }}
                </div>
    
                <h4><label for="{{ form.kodehotel.id_for_label }}">Kode Hotel</label></h4>
                {% if form.kodehotel.errors %}
                <div class="alert alert-danger" role="alert">
                {{ form.kodehotel.errors }}
                </div>
                {% endif %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-hospital-o"></i></span>
                    </div>
                    {{ form.kodehotel }}
                </div>
                
                <h4><label for="{{ form.koderoom.id_for_label }}">Kode Room</label></h4>
                {% if form.koderoom.errors %}
                <div class="alert alert-danger" role="alert">
                {{ form.koderoom.errors }}
                </div>
                {% endif %}
                <div class="input-group mb-3" id="result">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-hospital-o"></i></span>
                    </div>
                    {{ form.koderoom }}
                </div>

                <input class="btn btn-outline-success" type="submit" value="Register">
            </form>
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>
            $("#id_kodehotel").change(function () {
            var url = "{% url 'jingga:ajax-load-semuakodehotel' %}";
            var kodehotel = $(this).val();

            $.ajax({
                url: url,
                data: {
                    'kodehotel': kodehotel
                },
                success: function (data) {
                    $('#id_koderoom').html(data);
                }
            });
            });
        </script>



{% endblock %}
