{% extends "base.html" %}
{% load static %}
{% block title %}
    Ruangan Hotel - SIRUCO
{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>Ruangan Hotel</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>
    <div class="container d-flex justify-content-center" align="center">
        <table class="table table-hover" align="center">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Kode Hotel</th>
                <th scope="col">Kode Room</th>
                <th scope="col">Jenis Bed</th>
                <th scope="col">Tipe</th>
                <th scope="col">Harga</th>
                {% if request.session.role == 'ADMIN' %}
                    <th>Operasi</th>
                {% endif %}
            </tr>
            </thead>
            {% for row in data %}
                <tr>
                    <td>{{ row.kodehotel }}</td>
                    <td>{{ row.koderoom }}</td>
                    <td>{{ row.jenisbed }}</td>
                    <td>{{ row.tipe }}</td>
                    <td>{{ row.harga }}</td>
                    {% if request.session.role == 'ADMIN' %}
                    <td>
                        <form action="{% url 'jingga:update-ruanganhotel' %}" method="get">
                            <input type="hidden" id="kodehotel" name="kodehotel" value="{{ row.kodehotel }}">
                            <input type="hidden" id="koderoom" name="koderoom" value="{{ row.koderoom }}">
                            <input type="submit" class="btn btn-success" value="Update">
                        </form>
                        
                        {% for kode in notreserved %}
                        {% if row.koderoom == kode.koderoom and row.kodehotel == kode.kodehotel %}
                        <form action="{% url 'jingga:delete-ruanganhotel' %}" method="get">
                            <input type="hidden" id="kodehotel" name="kodehotel"
                                   value="{{ row.kodehotel }}">
                            <input type="hidden" id="koderoom" name="koderoom"
                                   value="{{ row.koderoom }}">
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </form>
                        {% endif %}
                        {% endfor %}

                        {% for kode in expire %}
                        {% if row.koderoom == kode.koderoom and row.kodehotel == kode.kodehotel%}
                        <form action="{% url 'jingga:delete-ruanganhotel' %}" method="get">
                            <input type="hidden" id="kodehotel" name="kodehotel"
                                   value="{{ row.kodehotel }}">
                            <input type="hidden" id="koderoom" name="koderoom"
                                   value="{{ row.koderoom }}">
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </form>
                        {% endif %}
                        {% endfor %}

                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
