{% extends "base.html" %}
{% load static %}
{% block title %}
    Reservasi Hotel - SIRUCO
{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>Reservasi Hotel</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>
    <div class="container d-flex justify-content-center" align="center">
        <table class="table table-hover" align="center">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Kode Pasien</th>
                <th scope="col">Tanggal Masuk</th>
                <th scope="col">Tanggal Keluar</th>
                <th scope="col">Kode Hotel</th>
                <th scope="col">Kode Room</th>
                {% if request.session.role == 'ADMIN_SATGAS' %}
                    <th>Operasi</th>
                {% endif %}
            </tr>
            </thead>

            {% if request.session.role == 'ADMIN_SATGAS' %}
            {% for row in data %}
                <tr>
                    <td>{{ row.kodepasien }}</td>
                    <td>{{ row.tglmasuk }}</td>
                    <td>{{ row.tglkeluar }}</td>
                    <td>{{ row.kodehotel }}</td>
                    <td>{{ row.koderoom }}</td>
                    {% if request.session.role == 'ADMIN_SATGAS' %}
                    <td>
                        <form action="{% url 'jingga:update-reservasihotel' %}" method="get">
                            <input type="hidden" id="kodepasien" name="kodepasien" 
                                value="{{ row.kodepasien }}">
                            <input type="hidden" id="tglmasuk" name="tglmasuk" 
                                value="{{ row.tglmasuk }}">
                            <input type="submit" class="btn btn-success" value="Update">
                        </form>

                        {% for kode in deletable %}
                        {% if row.kodepasien == kode.kodepasien and row.tglmasuk == kode.tglmasuk %}
                        <form action="{% url 'jingga:delete-reservasihotel' %}" method="get">
                            <input type="hidden" id="kodepasien" name="kodepasien" 
                                value="{{ row.kodepasien }}">
                            <input type="hidden" id="tglmasuk" name="tglmasuk" 
                                value="{{ row.tglmasuk }}">
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </form>
                        {% endif %}
                        {% endfor %}
                        
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
            {% endif %}

            {% if request.session.role == "PENGGUNA_PUBLIK" %}
            {% for row in data %}
            {% if request.session.username == row.idpendaftar %}
                <tr>
                    <td>{{ row.kodepasien }}</td>
                    <td>{{ row.tglmasuk }}</td>
                    <td>{{ row.tglkeluar }}</td>
                    <td>{{ row.kodehotel }}</td>
                    <td>{{ row.koderoom }}</td>
                </tr>
            {% endif %}
            {% endfor %}
            {% endif %}
        </table>
    </div>
{% endblock %}
    