{% extends "base.html" %}
{% load static %}
{% block title %}
    Transaksi Hotel - SIRUCO
{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>Transaksi Hotel</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>
    <div class="container d-flex justify-content-center" align="center">
        <table class="table table-hover" align="center">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id Transaksi</th>
                <th scope="col">Kode Pasien</th>
                <th scope="col">Tanggal Pembayaran</th>
                <th scope="col">Waktu Pembayaran</th>
                <th scope="col">Total Bayar</th>
                <th scope="col">Status Bayar</th>
                {% if request.session.role == 'ADMIN_SATGAS' %}
                    <th>Operasi</th>
                {% endif %}
            </tr>
            </thead>
            {% for row in data %}
                <tr>
                    <td>{{ row.idtransaksi }}</td>
                    <td>{{ row.kodepasien }}</td>
                    <td>{{ row.tanggalpembayaran }}</td>
                    <td>{{ row.waktupembayaran }}</td>
                    <td>{{ row.totalbayar }}</td>
                    <td>{{ row.statusbayar }}</td>
                    {% if request.session.role == 'ADMIN_SATGAS' %}
                    <td>
                        <form action="update-transaksihotel" method="get">
                            <input type="hidden" id="idtransaksi" name="idtransaksi" 
                                value="{{ row.idtransaksi }}">
                            <input type="submit" class="btn btn-success" value="Update">
                        </form>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
