{% extends "base.html" %}
{% load static %}
{% block title %}
    Transaksi Booking Hotel - SIRUCO
{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>Transaksi Booking Hotel</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>
    <div class="container d-flex justify-content-center" align="center">
        <table class="table table-hover" align="center">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id Transaksi Booking</th>
                <th scope="col">Total Bayar</th>
                <th scope="col">Kode Pasien</th>
                <th scope="col">Tanggal Masuk</th>
            </tr>
            </thead>
            {% if request.session.role == "ADMIN_SATGAS" %}
            {% for row in data %}
                <tr>
                    <td>{{ row.idtransaksibooking }}</td>
                    <td>{{ row.totalbayar }}</td>
                    <td>{{ row.kodepasien }}</td>
                    <td>{{ row.tglmasuk }}</td>
                </tr>
            {% endfor %}
            {% endif %}
            
            {% if request.session.role == "PENGGUNA_PUBLIK" %}
            {% for row in data %}
            {% if request.session.username == row.idpendaftar %}
                <tr>
                    <td>{{ row.idtransaksibooking }}</td>
                    <td>{{ row.totalbayar }}</td>
                    <td>{{ row.kodepasien }}</td>
                    <td>{{ row.tglmasuk }}</td>
                </tr>
            {% endif %}
            {% endfor %}
            {% endif %}
        </table>
    </div>
{% endblock %}
