{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class='jumbotron justify-content-center' align="center">
            <h1>Update Reservasi Hotel</h1>
            <hr>
            <h4>Pastikan Reservasi yang Anda Update Sudah Sesuai</h4>
        </div>
        <div class="container d-flex justify-content-center" align="center">
            <form action="{% url 'jingga:update-reservasihotel' %}" method="post" id="updatereservasi">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                
                
                <h3><label for="{{ form.kodepasien.id_for_label }}">Kode Pasien</label></h3>
                {% if form.kodehotel.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.kodepasien.errors }}
                    </div>
                {% endif %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-bookmark"></i></span>
                    </div>
                    {{ form.kodepasien }}
                </div>

                <h3><label for="{{ form.tglmasuk.id_for_label }}">Tanggal Masuk</label></h3>
                {% if form.tglmasuk.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.tglmasuk.errors }}
                    </div>
                {% endif %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-bookmark"></i></span>
                    </div>
                    {{ form.tglmasuk }}
                </div>

                <h3><label for="{{ form.tglkeluar.id_for_label }}">Tanggal Keluar</label></h3>
                {% if form.tglkeluar.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.tglkeluar.errors }}
                    </div>
                {% endif %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-bookmark"></i></span>
                    </div>
                    {{ form.tglkeluar }}
                </div>

                <h3><label for="{{ form.kodehotel.id_for_label }}">Kode Hotel</label></h3>
                {% if form.kodehotel.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.kodehotel.errors }}
                    </div>
                {% endif %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-bookmark"></i></span>
                    </div>
                    {{ form.kodehotel }}
                </div>

                <h3><label for="{{ form.koderoom.id_for_label }}">Kode Room</label></h3>
                {% if form.koderoom.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.koderoom.errors }}
                    </div>
                {% endif %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-columns"></i></span>
                    </div>
                    {{ form.koderoom }}
                </div>
                <input class="btn btn-outline-primary" type="submit" value="Update">
            </form>
        </div>

{% endblock %}
