{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class='jumbotron justify-content-center' align="center">
            <h1>Update Transaksi Hotel</h1>
            <hr>
            <h4>Pastikan Transaksi yang Anda Update Sudah Sesuai</h4>
        </div>
        <div class="container d-flex justify-content-center" align="center">
            <form action="{% url 'jingga:update-transaksihotel' %}" method="post" id="updatetransaksi">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                
                
                <h3><label for="{{ form.idtransaksi.id_for_label }}">ID Transaksi</label></h3>
                {% if form.idtransaksi.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.idtransaksi.errors }}
                    </div>
                {% endif %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-bookmark"></i></span>
                    </div>
                    {{ form.idtransaksi }}
                </div>

                <h3><label for="{{ form.kodepasien.id_for_label }}">Kode Pasien</label></h3>
                {% if form.kodepasien.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.kodepasien.errors }}
                    </div>
                {% endif %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-bookmark"></i></span>
                    </div>
                    {{ form.kodepasien }}
                </div>

                <h3><label for="{{ form.tanggalpembayaran.id_for_label }}">Tanggal Pembayaran</label></h3>
                {% if form.tanggalpembayaran.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.tanggalpembayaran.errors }}
                    </div>
                {% endif %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-bookmark"></i></span>
                    </div>
                    {{ form.tanggalpembayaran }}
                </div>

                <h3><label for="{{ form.waktupembayaran.id_for_label }}">Waktu Pembayaran</label></h3>
                {% if form.waktupembayaran.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.waktupembayaran.errors }}
                    </div>
                {% endif %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-bookmark"></i></span>
                    </div>
                    {{ form.waktupembayaran }}
                </div>

                <h3><label for="{{ form.totalbayar.id_for_label }}">Total Bayar</label></h3>
                {% if form.totalbayar.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.totalbayar.errors }}
                    </div>
                {% endif %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-columns"></i></span>
                    </div>
                    {{ form.totalbayar }}
                </div>

                <h3><label for="{{ form.statusbayar.id_for_label }}">Status Bayar</label></h3>
                {% if form.statusbayar.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.statusbayar.errors }}
                    </div>
                {% endif %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-columns"></i></span>
                    </div>
                    {{ form.statusbayar }}
                </div>
                <input class="btn btn-outline-primary" type="submit" value="Update">
            </form>
        </div>

{% endblock %}
