{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class='jumbotron justify-content-center' align="center">
            <h1>Update Ruangan Hotel</h1>
            <hr>
            <h4>Pastikan Ruangan yang Anda Update Sudah Sesuai</h4>
        </div>
        <div class="container d-flex justify-content-center" align="center">
            <form action="{% url 'jingga:update-ruanganhotel' %}" method="post" id="updateruangan">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}
                
                
                <h3><label for="{{ form.kodehotel.id_for_label }}">Kode Hotel</label></h3>
                {% if form.kodehotel.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.kodehotel.errors }}
                    </div>
                {% endif %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-bookmark"></i></span>
                    </div>
                    {{ form.kodehotel }}
                </div>

                <h3><label for="{{ form.koderoom.id_for_label }}">Kode Room</label></h3>
                {% if form.koderoom.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.koderoom.errors }}
                    </div>
                {% endif %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-bookmark"></i></span>
                    </div>
                    {{ form.koderoom }}
                </div>

                <h3><label for="{{ form.jenisbed.id_for_label }}">Jenis Bed</label></h3>
                {% if form.jenisbed.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.jenisbed.errors }}
                    </div>
                {% endif %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-bookmark"></i></span>
                    </div>
                    {{ form.jenisbed }}
                </div>

                <h3><label for="{{ form.tiperoom.id_for_label }}">Jenis Bed</label></h3>
                {% if form.tiperoom.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.tiperoom.errors }}
                    </div>
                {% endif %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-bookmark"></i></span>
                    </div>
                    {{ form.tiperoom }}
                </div>

                <h3><label for="{{ form.harga.id_for_label }}">Harga Room</label></h3>
                {% if form.harga.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.harga.errors }}
                    </div>
                {% endif %}
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-columns"></i></span>
                    </div>
                    {{ form.harga }}
                </div>
                <input class="btn btn-outline-primary" type="submit" value="Update">
            </form>
        </div>

{% endblock %}
