{% extends "base.html" %}
{% load static %}

{% block title %}SIRUCO - Fasilitas Kesehatan{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>Buat Fasilitas kesehatan</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>
    
    <div class="container d-flex justify-content-center" align="center" style="margin-bottom: 1rem">
        <form action="{% url 'blue:buat-faskes' %}" method="post" id="faskes" >
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
            </div>
            {% endif %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert alert-danger alert-dismissable" role="alert">{{ message }}</div>
                {% endfor %}
            </ul>
            {% endif %}
            
            <h4><label for="{{ form.Kode.id_for_label }}">Kode</label></h4>
            {% if form.Kode.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.Kode.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-id-card-o"></i></span>
                </div>
                {{ form.Kode }}
            </div>
            
            <h4><label for="{{ form.Tipe.id_for_label }}">Tipe</label></h4>
            {% if form.Tipe.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.Tipe.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
                {{ form.Tipe }}
            </div>
            
            <h4><label for="{{ form.Nama.id_for_label }}">Nama Faskes</label></h4>
            {% if form.Nama.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.Nama.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
                {{ form.Nama }}
            </div>

            <h4><label for="{{ form.StatusMilik.id_for_label }}">Status Milik</label></h4>
            {% if form.StatusMilik.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.StatusMilik.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-hospital-o"></i></span>
                </div>
                {{ form.StatusMilik }}
            </div>
            
            <h4><label for="{{ form.Jalan.id_for_label }}">Jalan</label></h4>
            {% if form.Jalan.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.Jalan.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-hospital-o"></i></span>
                </div>
                {{ form.Jalan }}
            </div>

            <h4><label for="{{ form.Kelurahan.id_for_label }}">Kelurahan</label></h4>
            {% if form.Kelurahan.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.Kelurahan.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-hospital-o"></i></span>
                </div>
                {{ form.Kelurahan }}
            </div>
            
            <h4><label for="{{ form.Kecamatan.id_for_label }}">Kecamatan</label></h4>
            {% if form.Kecamatan.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.Kecamatan.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-hospital-o"></i></span>
                </div>
                {{ form.Kecamatan }}
            </div>

            <h4><label for="{{ form.Kabkot.id_for_label }}">Kabkot</label></h4>
            {% if form.Kabkot.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.Kabkot.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-hospital-o"></i></span>
                </div>
                {{ form.Kabkot }}
            </div>

            <h4><label for="{{ form.Prov.id_for_label }}">Prov</label></h4>
            {% if form.Prov.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.Prov.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-hospital-o"></i></span>
                </div>
                {{ form.Prov }}
            </div>
            <input class="btn btn-outline-success" type="submit" value="Buat">
        </form>
    </div>




{% endblock %}
