{% extends "base.html" %}
{% load static %}

{% block title %}SIRUCO - Rumah Sakit{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>Buat Rumah Sakit</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>
    
    <div class="container d-flex justify-content-center" align="center">
        <form action="{% url 'blue:buat-rumah-sakit' %}" method="post" id="jadwal" >
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
            </div>
            {% endif %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert alert-danger alert-dismissable" role="alert">{{ message }}</div>
                {% endfor %}
            </ul>
            {% endif %}
            
            <h4><label for="{{ form.kode_faskes.id_for_label }}">Kode Faskes</label></h4>
            {% if form.kode_faskes.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.kode_faskes.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-id-card-o"></i></span>
                </div>
                {{ form.kode_faskes }}
            </div>
            
            <H6>
            <label> RUJUKAN
            <input type="checkbox" name="isrujukan" id="id_isrujukan">
            </label>
            </H6>
            {% if form.isrujukan.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.isrujukan.errors }}
            </div>
            {% endif %}
            <input class="btn btn-outline-success" type="submit" value="Buat">
        </form>
    </div>




{% endblock %}
