{% extends "base.html" %}
{% load static %}

{% block title %}SIRUCO - Detail Fasilitas Kesehatan{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>Detail Fasilitas Kesehatan</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>
    <div class="container d-flex justify-content-center" align="center">
        <table class="table table-hover" align="center">

            {% for row in data %}
                <tr>
                    <td>Kode</td>
                    <td>{{ row.kode }}</td>
                </tr>
                <tr>
                    <td>Tipe</td>
                    <td>{{ row.tipe }}</td>
                </tr>
                <tr>
                    <td>Nama</td>
                    <td>{{ row.nama }}</td>
                </tr>
                <tr>
                    <td>Status Milik</td>
                    <td>{{ row.statusmilik }}</td>
                </tr>
                <tr>
                    <td>Jalan</td>
                    <td>{{ row.jalan }}</td>
                </tr>
                <tr>
                    <td>Kelurahan</td>
                    <td>{{ row.kelurahan }}</td>
                </tr>
                <tr>
                    <td>Kecamatan</td>
                    <td>{{ row.kecamatan }}</td>
                </tr>
                <tr>
                    <td>Kabkot</td>
                    <td>{{ row.kabkot }}</td>
                </tr>
                <tr>
                    <td>Prov</td>
                    <td>{{ row.prov }}</td>
                </tr>                
            {% endfor %}

        </table>
    </div>
    <div class="container d-flex justify-content-center" align="center" style="margin-bottom: 1rem">
        <a href="/list-faskes" class="btn btn-success">Kembali</a>
    </div>


{% endblock %}
