{% extends "base.html" %}
{% load static %}
{% block title %}
    List RESERVSI RS
{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>List Reservasi RS</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>
    <div class="container d-flex justify-content-center" align="center">
        <table class="table table-hover" align="center">
            <thead class="thead-dark">
            <tr>
                <th>No.</th>
                <th>Kode Pasien</th>
                <th>Tanggal Masuk</th>
                <th>Tanggal Keluar</th>
                <th>Kode RS</th>
                <th>Kode Ruangan</th>
                <th>Kode Bed</th>
                {% if request.session.role == 'ADMIN_SATGAS' %}
                    <th>Operasi</th>
                {% endif %}
            </tr>
            </thead>
            {% for row in data %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ row.kodepasien }}</td>
                    <td>{{ row.tglmasuk }}</td>
                    <td>{{ row.tglkeluar }}</td>
                    <td>{{ row.koders }}</td>
                    <td>{{ row.koderuangan }}</td>
                    <td>{{ row.kodebed}}</td>
                    {% if request.session.role == 'ADMIN_SATGAS' %}
                    <td>
                        {% if row.tglmasuk > today %}
                        <form action="{% url 'blue:delete-reservasi-rs' %}" method="get">
                            <input type="hidden" id="pasien" name="pasien" value="{{ row.kodepasien }}">
                            <input type="hidden" id="tgl" name="tgl" value="{{ row.tglmasuk }}">
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </form>
                        {% endif %}

                        <form action="{% url 'blue:update-reservasi-rs' %}" method="get">
                            <input type="hidden" id="pasien" name="pasien" value="{{ row.kodepasien }}">
                            <input type="hidden" id="tgl" name="tgl" value="{{ row.tglmasuk }}">
                            <input type="submit" class="btn btn-success" value="Update">
                        </form>
        
                    </td>
                    {% endif %}
                </tr>
                
            {% endfor %}

        </table>
        
    </div>
    {% if request.session.role == 'ADMIN_SATGAS' %}
    <div class="container d-flex justify-content-center" align="center" style="margin-bottom: 1rem">
        <form action="{% url 'blue:reservasirs' %}" method="get">
            <input type="submit" class="btn btn-danger" value="Buat Reservasi">
        </form>
    </div>
    {% endif %}

{% endblock %}
