{% extends "base.html" %}
{% load static %}
{% block title %}
    Daftar Rumah Sakit
{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>List Rumah Sakit</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>
    <div class="container d-flex justify-content-center" align="center">
        <table class="table table-hover" align="center">
            <thead class="thead-dark">
            <tr>
                <th>No.</th>
                <th>Kode Faskes</th>
                <th>IsRujukan</th>
                <th>Operasi</th>
            </tr>
            </thead>
            {% for row in data %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ row.kode_faskes }}</td>
                    {% if row.isrujukan == '1' %}
                    <td><i class="fa fa-check-square"></i></td>
                    {% endif %}
                    {% if row.isrujukan == '0' %}
                    <td><i class="fa fa-square-o"></i></td>
                    {% endif %}
                    <td>
                        <form action="{% url 'blue:update-rumah-sakit' %}" method="get">
                            <input type="hidden" id="faskes" name="faskes" value="{{ row.kode_faskes}}">
                            <input type="submit" class="btn btn-success" value="Update">
                        </form>
                    </td>
                </tr>
                
            {% endfor %}

        </table>
        
    </div>


{% endblock %}
