{% extends "base.html" %}
{% load static %}
{% block title %}
    List Fasilitas Kesehatan
{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>List Fasilitas Kesehatan</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>
    <div class="container d-flex justify-content-center" align="center">
        <table class="table table-hover" align="center">
            <thead class="thead-dark">
            <tr>
                <th>No.</th>
                <th>Kode Faskes</th>
                <th>Tipe</th>
                <th>Nama Faskes</th>
                {% if request.session.role == 'ADMIN_SATGAS' %}
                    <th>Operasi</th>
                {% endif %}
            </tr>
            </thead>
            {% for row in data %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ row.kode }}</td>
                    <td>{{ row.tipe }}</td>
                    <td>{{ row.nama }}</td>
                    {% if request.session.role == 'ADMIN_SATGAS' %}
                    <td>
                        <form action="{% url 'blue:delete-faskes' %}" method="get">
                            <input type="hidden" id="faskes" name="faskes" value="{{ row.kode }}">
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </form>

                        <form action="{% url 'blue:update-faskes' %}" method="get">
                            <input type="hidden" id="faskes" name="faskes" value="{{ row.kode}}">
                            <input type="submit" class="btn btn-success" value="Update">
                        </form>

                        <form action="{% url 'blue:detail-faskes' %}" method="get">
                            <input type="hidden" id="faskes" name="faskes" value="{{ row.kode}}">
                            <input type="submit" class="btn btn-success" value="Detail">
                        </form>
        
                    </td>
                    {% endif %}
                </tr>
                
            {% endfor %}

        </table>
        
    </div>


{% endblock %}
