{% extends "base.html" %}
{% load static %}
{% block title %}
    List Transaksi RS
{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>List Transaksi RS</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>
    <div class="container d-flex justify-content-center" align="center">
        <table class="table table-hover" align="center">
            <thead class="thead-dark">
            <tr>
                <th>No.</th>
                <th>ID Transaksi</th>
                <th>Kode Pasien</th>
                <th>Tanggal Pembayaran</th>
                <th>Waktu Pembayaran</th>
                <th>Tanggal Masuk</th>
                <th>Total Biaya</th>
                <th>Status Bayar</th>
                {% if request.session.role == 'ADMIN_SATGAS' %}
                    <th>Operasi</th>
                {% endif %}
            </tr>
            </thead>
            {% for row in data %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ row.idtransaksi }}</td>
                    <td>{{ row.kodepasien }}</td>
                    <td>{{ row.tanggalpembayaran }}</td>
                    <td>{{ row.waktupembayaran }}</td>
                    <td>{{ row.tglmasuk }}</td>
                    <td>{{ row.totalbiaya }}</td>
                    <td>{{ row.statusbayar }}</td>
                    {% if request.session.role == 'ADMIN_SATGAS' %}
                    <td>
                        <form action="{% url 'blue:delete-transaksi-rs' %}" method="get">
                            <input type="hidden" id="idtransaksi" name="idtransaksi" value="{{ row.idtransaksi}}">
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </form>

                        <form action="{% url 'blue:update-transaksi-rs' %}" method="get">
                            <input type="hidden" id="idtransaksi" name="idtransaksi" value="{{ row.idtransaksi}}">
                            <input type="submit" class="btn btn-success" value="Update">
                        </form>
                    </td>
                    {% endif %}
                </tr>
                
            {% endfor %}

        </table>
        
    </div>


{% endblock %}
