{% extends "base.html" %}
{% load static %}
{% block title %}
    List Jadwal Fasilitas Kesehatan
{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>List Jadwal Fasilitas Kesehatan</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>
    <div class="container d-flex justify-content-center" align="center">
        <table class="table table-hover" align="center">
            <thead class="thead-dark">
            <tr>
                <th>No.</th>
                <th>Kode Faskes</th>
                <th>Shift</th>
                <th>Tanggal</th>
            </tr>
            </thead>
            {% for row in data %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ row.kode_faskes }}</td>
                    <td>{{ row.shift }}</td>
                    <td>{{ row.tanggal }}</td>
                </tr>
                
            {% endfor %}

        </table>
        
    </div>


{% endblock %}
