{% extends "base.html" %}
{% load static %}

{% block title %}SIRUCO - Reservasi Rumah sakit{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>Buat Reservasi Rumah Sakit</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>

    <div class="container d-flex justify-content-center" align="center">
        <form action="{% url 'blue:reservasirs' %}" method="post" id="reservasi" data-semuaruangan-url="{% url 'blue:ajax_load_semuaruangan' %}" data-semuabed-url="{% url 'blue:ajax_load_semuabed' %}">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
            </div>
            {% endif %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert alert-danger alert-dismissable" role="alert">{{ message }}</div>
                {% endfor %}
            </ul>
            {% endif %}
            
            <h4><label for="{{ form.nik.id_for_label }}">NIK</label></h4>
            {% if form.nik.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.nik.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-id-card-o"></i></span>
                </div>
                {{ form.NIK }}
            </div>

            <h4><label for="{{ form.TanggalMasuk.id_for_label }}">Tanggal Masuk</label></h4>
            {% if form.TanggalMasuk.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.TanggalMasuk.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
                {{ form.TanggalMasuk }}
            </div>


            <h4><label for="{{ form.TanggalKeluar.id_for_label }}">Tanggal Keluar</label></h4>
            {% if form.TanggalKeluar.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.TanggalKeluar.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
                {{ form.TanggalKeluar }}
            </div>

            <h4><label for="{{ form.KodeRS.id_for_label }}">Kode RS</label></h4>
            {% if form.KodeRS.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.KodeRS.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-hospital-o"></i></span>
                </div>
                {{ form.KodeRS }}
            </div>
            
            <h4><label for="{{ form.KodeRuangan.id_for_label }}">Kode Ruangan</label></h4>
            {% if form.KodeRuangan.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.KodeRuangan.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-hospital-o"></i></span>
                </div>
                {{ form.KodeRuangan }}
            </div>

            <h4><label for="{{ form.KodeBed.id_for_label }}">Kode Bed</label></h4>
            {% if form.KodeBed.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.KodeBed.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-hospital-o"></i></span>
                </div>
                {{ form.KodeBed }}
            </div>
            <input class="btn btn-outline-success" style="margin-bottom: 1rem;" type="submit" value="Buat">
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $("#id_KodeRS.form-control").change(function () {
        var url = $("#reservasi").attr("data-semuaruangan-url"); 
        var KodeRS = $(this).val(); 

        $.ajax({                      
            url: url,                   
            data: {
            'KodeRS': KodeRS    
            },
            success: function (data) {  
            $("#id_KodeRuangan.form-control").html(data); 
            }
        });

        });

        $("#id_KodeRuangan.form-control").change(function () {
        var url = $("#reservasi").attr("data-semuabed-url"); 
        var KodeRuangan = $(this).val();

        $.ajax({                   
            url: url,               
            data: {
            'KodeRuangan': KodeRuangan    
            },
            success: function (data) {  
            $("#id_KodeBed.form-control").html(data);
            }
        });

        });
    </script>



{% endblock %}
