{% extends "base.html" %}
{% load static %}

{% block title %}SIRUCO - Fasilitas Kesehatan{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>Update Fasilitas kesehatan</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>
    
    <div class="container d-flex justify-content-center" align="center">
        <form action="{% url 'blue:update-faskes' %}" method="post" id="faskes" >
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
            </div>
            {% endif %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert alert-danger alert-dismissable" role="alert">{{ message }}</div>
                {% endfor %}
            </ul>
            {% endif %}
            
            <h4><label for="{{ form.kode.id_for_label }}">Kode</label></h4>
            {% if form.kode.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.kode.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-id-card-o"></i></span>
                </div>
                {{ form.kode }}
            </div>
            
            <h4><label for="{{ form.tipe.id_for_label }}">Tipe</label></h4>
            {% if form.tipe.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.tipe.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
                {{ form.tipe }}
            </div>
            
            <h4><label for="{{ form.nama.id_for_label }}">Nama Faskes</label></h4>
            {% if form.nama.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.nama.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
                {{ form.nama }}
            </div>

            <h4><label for="{{ form.statusmilik.id_for_label }}">Status Milik</label></h4>
            {% if form.statusmilik.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.statusmilik.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-hospital-o"></i></span>
                </div>
                {{ form.statusmilik }}
            </div>
            
            <h4><label for="{{ form.jalan.id_for_label }}">Jalan</label></h4>
            {% if form.jalan.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.jalan.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-hospital-o"></i></span>
                </div>
                {{ form.jalan }}
            </div>

            <h4><label for="{{ form.kelurahan.id_for_label }}">Kelurahan</label></h4>
            {% if form.kelurahan.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.kelurahan.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-hospital-o"></i></span>
                </div>
                {{ form.kelurahan }}
            </div>
            
            <h4><label for="{{ form.kecamatan.id_for_label }}">Kecamatan</label></h4>
            {% if form.kecamatan.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.kecamatan.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-hospital-o"></i></span>
                </div>
                {{ form.kecamatan }}
            </div>

            <h4><label for="{{ form.kabkot.id_for_label }}">Kabkot</label></h4>
            {% if form.kabkot.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.kabkot.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-hospital-o"></i></span>
                </div>
                {{ form.kabkot }}
            </div>

            <h4><label for="{{ form.prov.id_for_label }}">Prov</label></h4>
            {% if form.prov.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.prov.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-hospital-o"></i></span>
                </div>
                {{ form.prov }}
            </div>
            <input class="btn btn-outline-success" type="submit" value="Update">
        </form>
    </div>




{% endblock %}
