{% extends "base.html" %}
{% load static %}

{% block title %}SIRUCO - Update Transaksi Rumah Sakit{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>Update Transaksi Rumah Sakit</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>
    
    <div class="container d-flex justify-content-center" align="center">
        <form action="{% url 'blue:update-transaksi-rs' %}" method="post" id="transaksi" >
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
            </div>
            {% endif %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert alert-danger alert-dismissable" role="alert">{{ message }}</div>
                {% endfor %}
            </ul>
            {% endif %}

            <h4><label for="{{ form.idtransaksi.id_for_label }}">Id Transaksi</label></h4>
            {% if form.idtransaksi.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.idtransaksi.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-id-card-o"></i></span>
                </div>
                {{ form.idtransaksi }}
            </div>

            <h4><label for="{{ form.kodepasien.id_for_label }}">Kode Pasien</label></h4>
            {% if form.kodepasien.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.kodepasien.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-id-card-o"></i></span>
                </div>
                {{ form.kodepasien }}
            </div>
            
            <h4><label for="{{ form.tanggalpembayaran.id_for_label }}">tanggalpembayaran</label></h4>
            {% if form.tanggalpembayaran.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.tanggalpembayaran.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-id-card-o"></i></span>
                </div>
                {{ form.tanggalpembayaran }}
            </div>

            
            <h4><label for="{{ form.waktupembayaran.id_for_label }}">Waktu Pembayaran</label></h4>
            {% if form.waktupembayaran.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.waktupembayaran.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-id-card-o"></i></span>
                </div>
                {{ form.waktupembayaran }}
            </div>
            
            
            <h4><label for="{{ form.tglmasuk.id_for_label }}">tanggal Masuk</label></h4>
            {% if form.tglkeluar.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.tglmasuk.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-id-card-o"></i></span>
                </div>
                {{ form.tglmasuk }}
            </div>

           , statusbayar
            <h4><label for="{{ form.totalbiaya.id_for_label }}">total biaya</label></h4>
            {% if form.totalbiaya.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.totalbiaya.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-id-card-o"></i></span>
                </div>
                {{ form.totalbiaya }}
            </div>

            
            <h4><label for="{{ form.statusbayar.id_for_label }}">Status Bayar</label></h4>
            {% if form.statusbayar.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.statusbayar.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-id-card-o"></i></span>
                </div>
                {{ form.statusbayar }}
            </div>

            <input class="btn btn-outline-success" type="submit" value="Update">
        </form>
    </div>




{% endblock %}
