{% extends "base.html" %}
{% load static %}

{% block title %}SIRUCO - Update Rumah sakit{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>Update Reservasi Rumah Sakit</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>

    <div class="container d-flex justify-content-center" align="center">
        <form action="{% url 'blue:update-reservasi-rs' %}" method="post" id="reservasi" data-semuaruangan-url="{% url 'blue:ajax_load_semuaruangan' %}" data-semuabed-url="{% url 'blue:ajax_load_semuabed' %}">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
            </div>
            {% endif %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert alert-danger alert-dismissable" role="alert">{{ message }}</div>
                {% endfor %}
            </ul>
            {% endif %}
            
            <h4><label for="{{ form.kodepasien.id_for_label }}">NIK</label></h4>
            {% if form.kodepasien.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.kodepasien.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-id-card-o"></i></span>
                </div>
                {{ form.kodepasien }}
            </div>

            <h4><label for="{{ form.tglmasuk.id_for_label }}">Tanggal Masuk</label></h4>
            {% if form.tglmasuk.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.tglmasuk.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3" >
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
                {{ form.tglmasuk }}
            </div>


            <h4><label for="{{ form.tglkeluar.id_for_label }}">Tanggal Keluar</label></h4>
            {% if form.tglkeluar.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.tglkeluar.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </div>
                {{ form.tglkeluar }}
            </div>

            <h4><label for="{{ form.koders.id_for_label }}">Kode RS</label></h4>
            {% if form.koders.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.koders.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-hospital-o"></i></span>
                </div>
                {{ form.koders }}
            </div>
            
            <h4><label for="{{ form.koderuangan.id_for_label }}">Kode Ruangan</label></h4>
            {% if form.koderuangan.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.koderuangan.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-hospital-o"></i></span>
                </div>
                {{ form.koderuangan }}
            </div>

            <h4><label for="{{ form.kodebed.id_for_label }}">Kode Bed</label></h4>
            {% if form.kodebed.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.kodebed.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-hospital-o"></i></span>
                </div>
                {{ form.kodebed }}
            </div>
            <input class="btn btn-outline-success" type="submit" value="Update">
        </form>
    </div>


{% endblock %}
