{% extends "base.html" %}
{% load static %}

{% block title %}Buat Ruangan RS - SIRUCO{% endblock %}

{% block content %}

 <div class='jumbotron justify-content-center' align="center">
        <h1>Buat Ruangan RS</h1>
        <hr>
        <h4>SIRUCO</h4>
  </div>

  <div class="container d-flex justify-content-center" align="center">

        <form action="{% url 'purple:create_ruangan_rs' %}" method="post">
          {% csrf_token %}
          {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
          {{ form.non_field_errors }}
          </div>
          {% endif %}

          <div class="form-group">

          <div>

          <br>
          <label style="font-size: 23px; font-weight: bold" for="kodeRS">Kode Rumah Sakit</label>
            <select class="form-control" name="kodeRS" id="kodeRS">

            </select>
          <br>

          <br>
          <label style="font-size: 23px; font-weight: bold" for="ruanganRS">Kode Ruangan</label>
            <input class="form-control" name="ruanganRS" id="ruanganRS" readonly>

            </input>
          <br>

          <h4>{{ form.tipe.label }}</h4> 
          <div class="input-group mb-3"> 
            {{ form.tipe }}
          </div>

          <h4>{{ form.harga_ruangan.label }}</h4>
          <div class="input-group mb-3">  
            {{ form.harga_ruangan }}
          </div>

      	    </div>
          <input class="btn btn-outline-primary" type="submit" value="Simpan">

        </form>
   
  </div> 

{% endblock %}
{% block addscript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: "{% url 'purple:ajaxRuanganRS' %}",
            data: {
                kode_faskes: $('#kodeRS').val()
            },
            async: false,
            success: function (response) {
              console.log(response)
                response.id.map((e) => {
                    $('#kodeRS').append(new Option(e, e))
                })
            }
        });

        $('#kodeRS').on('change', function () {
            $('#ruanganRS').find('option').remove()
            console.log($('#ruanganRS').val())
            $.ajax({
                type: 'GET',
                url: "{% url 'purple:ajaxRuanganRS2' %}",
                data: {
                    kode_rs: $('#kodeRS').val()
                },
                async: false,
                success: function (response) {
                    console.log(response)
                    $('#ruanganRS').val(response.id)
                }
            });
        });
    })


</script>
{% endblock addscript %}