{% extends "base.html" %}
{% load static %}

{% block title %}Buat Jadwal Dokter - SIRUCO{% endblock %}

   
   
{% block content %}

	<div class='jumbotron justify-content-center' align="center">
        <h1>Buat Jadwal Dokter</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>


	<div class="container d-flex justify-content-center" align="center">
			
	<table class="table table-hover" align="center">
		<thead class="thead-dark">
			
				<th>No.</th>
				<th>Kode Faskes</th>
				<th>Shift</th>
				<th>Tanggal</th>
                {% if request.session.role == 'DOKTER' %}
				<th>Buat Jadwal Dokter</th>
                {% endif %}

		</thead>
		{% for row in data %}

		<tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ row.kode_faskes }}</td>
            <td>{{ row.shift }}</td>
            <td>{{ row.tanggal | date:'m-d-Y' }}</td>
            {% if request.session.role == 'DOKTER' %}
            <td>
                <form action="{% url 'purple:create_jadwal_dokter' %}" method="GET">
                    <input type="hidden" id="username" name="username" value="{{ request.session.username }}">
                    <input type="hidden" id="kode_faskes" name="kode_faskes" value="{{ row.kode_faskes }}">
                    <input type="hidden" id="shift" name="shift" value="{{ row.shift }}">
                    <input type="hidden" id="tanggal" name="tanggal" value="{{ row.tanggal | date:'m-d-Y' }}">
                    <input type="submit" class="btn btn-success" value="Create">
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>			
</div>
{% endblock %}


