{% extends "base.html" %}
{% load static %}

{% block title %}Buat Jadwal Dokter - SIRUCO{% endblock %}

   
   
{% block content %}

	<div class='jumbotron justify-content-center' align="center">
        <h1>Buat Jadwal Dokter</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>


	<div class="container d-flex justify-content-center" align="center">
			
	<table class="table table-hover" align="center">
		<thead class="thead-dark">
			
				<th>No.</th>
        <th>No STR</th>
        <th>Email Dokter</th>
				<th>Kode Faskes</th>
				<th>Shift</th>
				<th>Tanggal</th>
        {% if request.session.role == 'ADMIN_SATGAS' or request.session.role == 'PENGGUNA_PUBLIK' %}
				<th>Buat Appointment</th>
        {% endif %}

		</thead>
		{% for row in data %}

		<tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ row.nostr }}</td>
            <td>{{ row.username }}</td>
            <td>{{ row.kode_faskes }}</td>
            <td>{{ row.shift }}</td>
            <td>{{ row.tanggal | date:'d-m-Y' }}</td>
            {% if request.session.role == 'ADMIN_SATGAS' or request.session.role == 'PENGGUNA_PUBLIK' %}
            <td>
                <form action="{% url 'purple:form_appointment' %}" method="GET">
                    <input type="hidden" id="username" name="username" value="{{ row.username }}">
                    <input type="hidden" id="kode_faskes" name="kode_faskes" value="{{ row.kode_faskes }}">
                    <input type="hidden" id="shift" name="shift" value="{{ row.shift }}">
                    <input type="hidden" id="tanggal" name="tanggal" value="{{ row.tanggal | date:'Y-m-d' }}">
                    <input type="submit" class="btn btn-success" value="Book">
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>			
</div>
{% endblock %}


