{% extends "base.html" %}
{% load static %}

{% block title %}Buat Bed RS - SIRUCO{% endblock %}

{% block content %}

   <div class='jumbotron justify-content-center' align="center">
        <h1>Buat Bed RS</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>

   <div class="container d-flex justify-content-center" align="center">

        <form id="formCreate" action="" method="post">
          {% csrf_token %}
          {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
          {{ form.non_field_errors }}
          </div>
          {% endif %}

          <div class="form-group">

          <div>
          <h4>{{ form.kode_rs.label }}</h4>
          <div class="input-group mb-3 ">   
            {{ form.kode_rs }}
          </div>

          <br>
          <label style="font-size: 23px; font-weight: bold" for="ruanganRS">Kode Ruangan </label>
            <select class="form-control" name="ruanganRS" id="ruanganRS">

            </select>
          <br>

          <br>
          <label style="font-size: 23px; font-weight: bold" for="bedRS">Kode Bed </label>
            <input class="form-control" name="bedRS" id="bedRS" readonly>

            </input>
          <br>


      	    </div>
          <input class="btn btn-outline-primary" type="submit" value="Simpan">

        </form>
   
  </div> 

{% endblock %}
{% block addscript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: "{% url 'purple:ajaxBedRS' %}",
            data: {
                kode_faskes: $('#kode_rs').val()
            },
            async: false,
            success: function (response) {
                response.id.map((e) => {
                    $('#ruanganRS').append(new Option(e, e))
                })
            }
        });


        $('#kode_rs').on('change', function () {
            $('#ruanganRS').find('option').remove()
            $.ajax({
                type: 'GET',
                url: "{% url 'purple:ajaxBedRS' %}",
                data: {
                    kode_faskes: $('#kode_rs').val()
                },
                async: false,
                success: function (response) {
                    response.id.map((e) => {
                        $('#ruanganRS').append(new Option(e, e))
                    })
                }
            });

            $.ajax({
                type: 'GET',
                url: "{% url 'purple:ajaxBedRS2' %}",
                data: {
                    kode_ruangan: $('#ruanganRS').val()
                },
                async: false,
                success: function (response) {
                    console.log(response)
                    $('#bedRS').val(response.id)
                }
            });
        });

        $.ajax({
            type: 'GET',
            url: "{% url 'purple:ajaxBedRS2' %}",
            data: {
                kode_ruangan: $('#ruanganRS').val()
            },
            async: false,
            success: function (response) {
                console.log(response)
                $('#bedRS').val(response.id)
            }
        });

        $('#ruanganRS').on('change', function () {
            $('#bedRS').find('value').remove()
            console.log($('#ruanganRS').val())
            $.ajax({
                type: 'GET',
                url: "{% url 'purple:ajaxBedRS2' %}",
                data: {
                    kode_ruangan: $('#ruanganRS').val()
                },
                async: false,
                success: function (response) {
                    console.log(response)
                    $('#bedRS').val(response.id)
                }
            });
        });
    })


</script>
{% endblock addscript %}