{% extends "base.html" %}
{% load static %}

{% block title %}Buat Appointment - SIRUCO{% endblock %}

{% block content %}

 <div class='jumbotron justify-content-center' align="center">
        <h1>Buat Appointment</h1>
        <hr>
        <h4>SIRUCO</h4>
  </div>

    {% if message is not None %}
    <div style="padding:auto; width:600px; height:70px; margin:auto; text-align=center;" class="alert alert-danger" role="alert" text-align="center">
    {{ message }}
    </div>
    {% endif %}
    <br>
    <br>

  <div class="container d-flex justify-content-center" align="center">

        <form id="formCreate" action="{% url 'purple:form_appointment' %}" method="post">
          {% csrf_token %}
          {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
          {{ form.non_field_errors }}
          </div>
          {% endif %}

          <div class="form-group">

          <div>

          <br>
          <label style="font-size: 23px; font-weight: bold" for="nik_pasien">NIK Pasien</label>
            <select class="form-control" name="nik_pasien" id="nik_pasien">

            </select>
          <br>

          <h4>{{ form.email_dokter.label }}</h4>
          <div class="input-group mb-3">  
            {{ form.email_dokter }}
          </div>

          <h4>{{ form.kode_faskes.label }}</h4> 
          <div class="input-group mb-3"> 
            {{ form.kode_faskes }}
          </div>

          <h4>{{ form.tanggal.label }}</h4>
          <div class="input-group mb-3">  
            {{ form.tanggal }}
          </div>

          <h4>{{ form.shift.label }}</h4>
          <div class="input-group mb-3">  
            {{ form.shift }}
          </div>

      	    </div>
          <input class="btn btn-outline-primary" type="submit" value="Simpan">

        </form>
   
  </div> 

{% endblock %}
{% block addscript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            type: 'GET',
            url: "{% url 'purple:ajaxAppointment' %}",
            data: {
                nik_pasien: $('#nik_pasien').val()
            },
            async: false,
            success: function (response) {
              console.log(response)
                response.id.map((e) => {
                    $('#nik_pasien').append(new Option(e, e))
                })
            }
        });
    })

</script>
{% endblock addscript %}