{% extends "base.html" %}
{% load static %}

{% block title %}List Ruangan RS - SIRUCO{% endblock %}

   
   
{% block content %}

	<div class='jumbotron justify-content-center' align="center">
        <h1>List Ruangan RS</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>


	<div class="container d-flex justify-content-center" align="center">
			
	<table class="table table-hover" align="center">
		<thead class="thead-dark">
			
				<th>No.</th>
				<th>Kode RS</th>
				<th>Kode Ruangan</th>
				<th>Tipe</th>
				<th>Jumlah Bed</th>
                <th>Harga Ruangan</th>
                {% if request.session.role == 'ADMIN_SATGAS' %}
				<th>Action</th>
				{% endif %}

		</thead>
		{% for row in data %}

		<tr>
            <td>{{ row.nomor }}</td>
            <td>{{ row.koders }}</td>
            <td>{{ row.koderuangan }}</td>
            <td>{{ row.tipe }}</td>
            <td>{{ row.jmlbed }}</td>
            <td>{{ row.harga }}</td>
            {% if request.session.role == 'ADMIN_SATGAS' %}
            <td>
                <form action="{% url 'purple:update_ruangan_rs' %}" method="get">
                    <input type="hidden" id="koders" name="koders" value="{{ row.koders }}">
                    <input type="hidden" id="koderuangan" name="koderuangan" value="{{ row.koderuangan }}">
                    <input type="submit" class="btn btn-success" value="Update">
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>		
</div>
{% endblock %}


