{% extends "base.html" %}
{% load static %}

{% block title %}List Appointment - SIRUCO{% endblock %}

   
   
{% block content %}

	<div class='jumbotron justify-content-center' align="center">
        <h1>List Appointment</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>


	<div class="container d-flex justify-content-center" align="center">
			
	<table class="table table-hover" align="center">
		<thead class="thead-dark">
			
				<th>No.</th>
				<th>NIK Pasien</th>
				<th>Email Dokter</th>
				<th>Faskes</th>
				<th>Shift</th>
                <th>Tanggal</th>
                {% if request.session.role == 'DOKTER' %}
                <th>Rekomendasi</th>
                {% endif %}
                {% if request.session.role == 'ADMIN_SATGAS' or request.session.role == 'DOKTER' %}
				<th>Action</th>
				{% endif %}

		</thead>
		{% for row in data %}

		<tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ row.nik_pasien }}</td>
            <td>{{ row.username_dokter }}</td>
            <td>{{ row.kode_faskes }}</td>
            <td>{{ row.praktek_shift }}</td>
            <td>{{ row.praktek_tgl | date:'d-m-Y' }}</td>
            {% if request.session.role == 'DOKTER' %}
            <td>{{ row.rekomendasi }}</td>
            {% endif %}
            {% if request.session.role == 'ADMIN_SATGAS' %}
            <td>
                <form action="{% url 'purple:delete_appointment' %}" method="get">
                    <input type="hidden" id="nik_pasien" name="nik_pasien" value="{{ row.nik_pasien }}">
                    <input type="hidden" id="username" name="username" value="{{ row.username_dokter }}">
                    <input type="hidden" id="kode_faskes" name="kode_faskes" value="{{ row.kode_faskes }}">
                    <input type="hidden" id="shift" name="shift" value="{{ row.praktek_shift }}">
                    <input type="hidden" id="tanggal" name="tanggal" value="{{ row.praktek_tgl | date:'Y-m-d' }}">
                    <input type="submit" class="btn btn-success" value="Delete">
                </form>
            </td>
            {% endif %}
            {% if request.session.role == 'DOKTER' %}
            <td>
                <form action="{% url 'purple:update_appointment' %}" method="get">
                    <input type="hidden" id="nik_pasien" name="nik_pasien" value="{{ row.nik_pasien }}">
                    <input type="hidden" id="username" name="username" value="{{ row.username_dokter }}">
                    <input type="hidden" id="kode_faskes" name="kode_faskes" value="{{ row.kode_faskes }}">
                    <input type="hidden" id="shift" name="shift" value="{{ row.praktek_shift }}">
                    <input type="hidden" id="tanggal" name="tanggal" value="{{ row.praktek_tgl | date:'Y-m-d' }}">
                    <input type="submit" class="btn btn-success" value="Update">
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>		
</div>

    <div class="col text-center" style="margin: 20px 20px">
        <form action="{% url 'purple:create_appointment' %}" method="get">
            <input type="submit" class="btn btn-outline-primary" value="Buat Appointment">
        </form>
    </div>
{% endblock %}


