{% extends "base.html" %}
{% load static %}

{% block title %}List Bed RS - SIRUCO{% endblock %}

   
   
{% block content %}

	<div class='jumbotron justify-content-center' align="center">
        <h1>List Bed RS</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>

    {% if message is not None %}
    <div style="padding:auto; width:600px; height:70px; margin:auto; text-align=center;" class="alert alert-danger" role="alert" text-align="center">
    {{ message }}
    </div>
    {% endif %}
    <br>
    <br>

	<div class="container d-flex justify-content-center" align="center">
			
	<table class="table table-hover" align="center">
		<thead class="thead-dark">
			
				<th>No.</th>
				<th>Kode RS</th>
				<th>Kode Ruangan</th>
				<th>Kode Bed</th>
                {% if request.session.role == 'ADMIN_SATGAS' %}
				<th>Action</th>
				{% endif %}

		</thead>
		{% for row in data %}

		<tr>
            <td>{{ row.nomor }}</td>
            <td>{{ row.koders }}</td>
            <td>{{ row.koderuangan }}</td>
            <td>{{ row.kodebed }}</td>
            {% if request.session.role == 'ADMIN_SATGAS' and row.kodebed not in kode_bed %}
            <td>
                <form action="{% url 'purple:delete_bed_rs' %}" method="get">
                    <input type="hidden" id="koders" name="koders" value="{{ row.koders }}">
                    <input type="hidden" id="koderuangan" name="koderuangan" value="{{ row.koderuangan }}">
                    <input type="hidden" id="kodebed" name="kodebed" value="{{ row.kodebed }}">
                    <input type="submit" class="btn btn-success" value="Delete">
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>		
</div>
{% endblock %}
{% block addscript %}
{% endblock addscript %}

