{% extends "base.html" %}
{% load static %}

{% block title %}List Jadwal Dokter - SIRUCO{% endblock %}

   
   
{% block content %}

	<div class='jumbotron justify-content-center' align="center">
        <h1>List Jadwal Dokter</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>


	<div class="container d-flex justify-content-center" align="center">
			
	<table class="table table-hover" align="center">
		<thead class="thead-dark">
			
				<th>No.</th>
				<th>No STR</th>
				<th>Dokter</th>
				<th>Faskes</th>
				<th>Shift</th>
                <th>Tanggal</th>
                <th>Jumlah Pasien</th>

		</thead>
		{% for row in data %}

		<tr>
            <td>{{ row.nomor }}</td>
            <td>{{ row.nostr }}</td>
            <td>{{ row.username }}</td>
            <td>{{ row.kode_faskes }}</td>
            <td>{{ row.shift }}</td>
            <td>{{ row.tanggal | date:'d-m-Y' }}</td>
            <td>{{ row.jmlpasien }}</td>
        </tr>
        {% endfor %}
    </table>		
</div>
    {% if request.session.role == 'DOKTER' %}
    <div class="col text-center" style="margin: 20px 20px">
        <form action="{% url 'purple:list_jadwal' %}" method="get">
            <input type="submit" class="btn btn-outline-primary" value="Buat Jadwal Dokter">
        </form>
    </div>
    {% endif %}
{% endblock %}


