{% extends "base.html" %}
{% load static %}

{% block title %}Update Appointment - SIRUCO{% endblock %}

{% block content %}

 <div class='jumbotron justify-content-center' align="center">
        <h1>Update Appointment</h1>
        <hr>
        <h4>SIRUCO</h4>
  </div>

  <div class="container d-flex justify-content-center" align="center">

        <form action="{% url 'purple:update_appointment' %}" method="post">
          {% csrf_token %}
          {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
          {{ form.non_field_errors }}
          </div>
          {% endif %}

          <div class="form-group">

          <div>

          <h4>{{ form.nik_pasien.label }}</h4>
          <div class="input-group mb-3 ">   
            {{ form.nik_pasien }}
          </div>

          <h4>{{ form.email_dokter.label }}</h4>
          <div class="input-group mb-3">  
            {{ form.email_dokter }}
          </div>

          <h4>{{ form.shift.label }}</h4>
          <div class="input-group mb-3">  
            {{ form.shift }}
          </div>

          <h4>{{ form.tanggal.label }}</h4>
          <div class="input-group mb-3">  
            {{ form.tanggal }}
          </div>

          <h4>{{ form.kode_faskes.label }}</h4> 
          <div class="input-group mb-3"> 
            {{ form.kode_faskes }}
          </div>

          <h4>{{ form.rekomendasi.label }}</h4>
          <div class="input-group mb-3">  
            {{ form.rekomendasi }}
          </div>

      	    </div>
          <input class="btn btn-outline-primary" type="submit" value="Simpan">

        </form>
   
  </div> 

{% endblock %}
