{% extends "base.html" %}
{% load static %}

{% block title %}Update Ruangan RS - SIRUCO{% endblock %}

{% block content %}

 <div class='jumbotron justify-content-center' align="center">
        <h1>Update Ruangan RS</h1>
        <hr>
        <h4>SIRUCO</h4>
  </div>

  <div class="container d-flex justify-content-center" align="center">

        <form action="{% url 'purple:update_ruangan_rs' %}" method="post">
          {% csrf_token %}
          {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
          {{ form.non_field_errors }}
          </div>
          {% endif %}

          <div class="form-group">

          <div>
          <h4>{{ form.koders.label }}</h4>
          <div class="input-group mb-3 ">   
            {{ form.koders }}
          </div>

          <h4>{{ form.koderuangan.label }}</h4>
          <div class="input-group mb-3">  
            {{ form.koderuangan }}
          </div>

          <h4>{{ form.tipe.label }}</h4> 
          <div class="input-group mb-3"> 
            {{ form.tipe }}
          </div>

          <h4>{{ form.harga.label }}</h4>
          <div class="input-group mb-3">  
            {{ form.harga }}
          </div>

      	    </div>
          <input class="btn btn-outline-primary" type="submit" value="Update">

        </form>
   
  </div> 

{% endblock %}
