{% extends "base.html" %}
{% load static %}

{% block title %}Daftar Pasien - SIRUCO{% endblock %}

{% block content %}

 <div class='jumbotron justify-content-center' align="center">
        <h1>Pendaftaran Pasien</h1>
        <hr>
        <h4>SIRUCO</h4>
  </div>

  {% if message is not None %}
    <div style="padding:auto; width:600px; height:70px; margin:auto; text-align=center;" class="alert alert-danger" role="alert" text-align="center">
    {{ message }}
    </div>
    {% endif %}
    <br>
    <br>

  <div class="container d-flex justify-content-center" align="center">

        <form action="{% url 'pasien:create_pasien' %}" method="post">
          {% csrf_token %}
          {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
          {{ form.non_field_errors }}
          </div>
          {% endif %}
        <div class="form-group">
          <table class="table table-responsive" align="center">
            <tr>
              <td>
                <div class="input-group mb-3 ">   
                 <br>
                 <br>
                </div>
                <h4>{{ form.pendaftar.label }}</h4>
                <div class="input-group mb-3 ">   
                  {{ form.pendaftar }}
                </div>

                <h4>{{ form.nik.label }}</h4>
                <div class="input-group mb-3 ">   
                  {{ form.nik }}
                </div>

                <h4>{{ form.nama_pasien.label }}</h4>
                <div class="input-group mb-3">  
                  {{ form.nama_pasien }}
                </div>

                <h4>{{ form.no_hp.label }}</h4>
                <div class="input-group mb-3">  
                  {{ form.no_hp }}
                </div>

                <h4>{{ form.no_telp.label }}</h4>
                <div class="input-group mb-3">  
                  {{ form.no_telp }}
                </div>
              </td>
              <td>
                <div class="input-group mb-3 ">   
                 <h2> Alamat (sesuai KTP) </h2>
                </div>

                <h4>{{ form.KTP_Jalan.label }}</h4>
                <div class="input-group mb-3">  
                  {{ form.KTP_Jalan }}
                </div>

                <h4>{{ form.KTP_Kelurahan.label }}</h4>
                <div class="input-group mb-3">  
                  {{ form.KTP_Kelurahan }}
                </div>

                <h4>{{ form.KTP_Kecamatan.label }}</h4>
                <div class="input-group mb-3">  
                  {{ form.KTP_Kecamatan }}
                </div>

                <h4>{{ form.KTP_KabKot.label }}</h4>
                <div class="input-group mb-3">  
                  {{ form.KTP_KabKot }}
                </div>

                <h4>{{ form.KTP_Prov.label }}</h4>
                <div class="input-group mb-3">  
                  {{ form.KTP_Prov }}
                </div>
              </td>
              <td>
                <div class="input-group mb-3 ">   
                 <h2> Alamat (sesuai Domisili) </h2>
                </div>
                <h4>{{ form.Dom_Jalan.label }}</h4>
                <div class="input-group mb-3">  
                  {{ form.Dom_Jalan }}
                </div>

                <h4>{{ form.Dom_Kelurahan.label }}</h4>
                <div class="input-group mb-3">  
                  {{ form.Dom_Kelurahan }}
                </div>

                <h4>{{ form.Dom_Kecamatan.label }}</h4>
                <div class="input-group mb-3">  
                  {{ form.Dom_Kecamatan }}
                </div>

                <h4>{{ form.Dom_KabKot.label }}</h4>
                <div class="input-group mb-3">  
                  {{ form.Dom_KabKot }}
                </div>

                <h4>{{ form.Dom_Prov.label }}</h4>
                <div class="input-group mb-3">  
                  {{ form.Dom_Prov }}
                </div>
              </td>
            </tr>
        </table>
      	</div>
          <input class="btn btn-outline-primary" type="submit" value="Simpan">

        </form>
   
  </div> 

{% endblock %}