{% extends "base.html" %}
{% load static %}

{% block title %}Detail Pasien - SIRUCO{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>Detail Pasien</h1>
    </div>

    <div class="container justify-content-center" align="center">
        <table class="table table-responsive" align="center">
            <tr>
                <td>
                    <h4>Pendaftar</h4>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        <input readonly class="form-control" value="{{ data.1 }}">
                    </div>
                    <h4>NIK</h4>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-id-card"></i></span>
                        </div>
                        <input readonly class="form-control" value="{{ data.0 }}">
                    </div>
                    <h4>Nama</h4>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                        <input readonly class="form-control" value="{{ data.2 }}">
                    </div>
                    <h4>No. hp</h4>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-mobile"></i></span>
                        </div>
                        <input readonly class="form-control" value="{{ data.14 }}">
                    </div>
                    <h4>No. telepon</h4>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-mobile"></i></span>
                        </div>
                        <input readonly class="form-control" value="{{ data.13 }}">
                    </div>
                </td>
                <td>
                    <div class="input-group mb-3 ">   
                    <h2> Alamat (sesuai KTP) </h2>
                    </div>
                    <h4>Jalan</h4>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-building"></i></span>
                        </div>
                        <input readonly class="form-control" value="{{ data.3 }}">
                    </div>
                    <h4>Kelurahan</h4>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-building"></i></span>
                        </div>
                        <input readonly class="form-control" value="{{ data.4 }}">
                    </div>
                    <h4>Kecamatan</h4>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-building"></i></span>
                        </div>
                        <input readonly class="form-control" value="{{ data.5 }}">
                    </div>
                    <h4>Kabupaten/Kota</h4>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-building"></i></span>
                        </div>
                        <input readonly class="form-control" value="{{ data.6 }}">
                    </div>
                    <h4>Provinsi</h4>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-building"></i></span>
                        </div>
                        <input readonly class="form-control" value="{{ data.7 }}">
                    </div>
                </td>
                <td>
                    <div class="input-group mb-3 ">   
                    <h2> Alamat (sesuai Domisili) </h2>
                    </div>
                    <h4>Jalan</h4>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-building"></i></span>
                        </div>
                        <input readonly class="form-control" value="{{ data.8 }}">
                    </div>
                    <h4>Kelurahan</h4>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-building"></i></span>
                        </div>
                        <input readonly class="form-control" value="{{ data.9 }}">
                    </div>
                    <h4>Kecamatan</h4>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-building"></i></span>
                        </div>
                        <input readonly class="form-control" value="{{ data.10 }}">
                    </div>
                    <h4>Kabupaten/Kota</h4>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-building"></i></span>
                        </div>
                        <input readonly class="form-control" value="{{ data.11 }}">
                    </div>
                    <h4>Provinsi</h4>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-building"></i></span>
                        </div>
                        <input readonly class="form-control" value="{{ data.12 }}">
                    </div>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
