{% extends "base.html" %}
{% load static %}

{% block title %}List Pasien - SIRUCO{% endblock %}

   
   
{% block content %}

	<div class='jumbotron justify-content-center' align="center">
        <h1>List Pasien</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>

    {% if message is not None %}
    <div style="padding:auto; width:600px; height:70px; margin:auto; text-align=center;" class="alert alert-danger" role="alert" text-align="center">
    {{ message }}
    </div>
    {% endif %}
    <br>
    <br>


	<div class="container d-flex justify-content-center" align="center">
			
	<table class="table table-hover" align="center">
		<thead class="thead-dark">
			
				<th>No.</th>
				<th>NIK</th>
				<th>Nama Pasien</th>
                {% if request.session.role == 'PENGGUNA_PUBLIK' %}
				<th>Action</th>
				{% endif %}

		</thead>
		{% for row in data %}

		<tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ row.0 }}</td>
            <td>{{ row.1 }}</td>
            {% if request.session.role == 'PENGGUNA_PUBLIK' %}
            <td>
                <form action="{% url 'pasien:update_pasien' %}" method="get">
                    <input type="hidden" id="nik" name="nik" value="{{ row.0 }}">
                    <input type="submit" class="btn btn-primary" value="Update">
                </form>
                <br>
                <form action="{% url 'pasien:delete_pasien' %}" method="get">
                    <input type="hidden" id="nik" name="nik" value="{{ row.0 }}">
                    <input type="submit" class="btn btn-danger" value="Delete">
                </form>
                <br>
                <form action="{% url 'pasien:detail_pasien' %}" method="get">
                    <input type="hidden" id="nik" name="nik" value="{{ row.0 }}">
                    <input type="submit" class="btn btn-success" value="Detail">
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>		
</div>
{% endblock %}


