{% extends "base.html" %}
{% load static %}

{% block title %}Daftar Pasien - SIRUCO{% endblock %}

{% block content %}

 <div class='jumbotron justify-content-center' align="center">
        <h1>Pendaftaran Pasien</h1>
        <hr>
        <h4>SIRUCO</h4>
  </div>

  <div class="container d-flex justify-content-center" align="center">

        <form action="{% url 'pasien:update_pasien' %}" method="post">
          {% csrf_token %}
          {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
          {{ form.non_field_errors }}
          </div>
          {% endif %}
        <div class="form-group">
          <table class="table table-responsive" align="center">
            <tr>
              <td>
                <div class="input-group mb-3 ">   
                 <br>
                 <br>
                </div>
                <h4>{{ form.idpendaftar.label }}</h4>
                <div class="input-group mb-3 ">   
                  {{ form.idpendaftar }}
                </div>

                <h4>{{ form.nik.label }}</h4>
                <div class="input-group mb-3 ">   
                  {{ form.nik }}
                </div>

                <h4>{{ form.nama.label }}</h4>
                <div class="input-group mb-3">  
                  {{ form.nama }}
                </div>

                <h4>{{ form.nohp.label }}</h4>
                <div class="input-group mb-3">  
                  {{ form.nohp }}
                </div>

                <h4>{{ form.notelp.label }}</h4>
                <div class="input-group mb-3">  
                  {{ form.notelp }}
                </div>
              </td>
              <td>
                <div class="input-group mb-3 ">   
                 <h2> Alamat (sesuai KTP) </h2>
                </div>

                <h4>{{ form.ktp_jalan.label }}</h4>
                <div class="input-group mb-3">  
                  {{ form.ktp_jalan }}
                </div>

                <h4>{{ form.ktp_kelurahan.label }}</h4>
                <div class="input-group mb-3">  
                  {{ form.ktp_kelurahan }}
                </div>

                <h4>{{ form.ktp_kecamatan.label }}</h4>
                <div class="input-group mb-3">  
                  {{ form.ktp_kecamatan }}
                </div>

                <h4>{{ form.ktp_kabkot.label }}</h4>
                <div class="input-group mb-3">  
                  {{ form.ktp_kabkot }}
                </div>

                <h4>{{ form.ktp_prov.label }}</h4>
                <div class="input-group mb-3">  
                  {{ form.ktp_prov }}
                </div>
              </td>
              <td>
                <div class="input-group mb-3 ">   
                 <h2> Alamat (sesuai Domisili) </h2>
                </div>
                <h4>{{ form.dom_jalan.label }}</h4>
                <div class="input-group mb-3">  
                  {{ form.dom_jalan }}
                </div>

                <h4>{{ form.dom_kelurahan.label }}</h4>
                <div class="input-group mb-3">  
                  {{ form.dom_kelurahan }}
                </div>

                <h4>{{ form.dom_kecamatan.label }}</h4>
                <div class="input-group mb-3">  
                  {{ form.dom_kecamatan }}
                </div>

                <h4>{{ form.dom_kabkot.label }}</h4>
                <div class="input-group mb-3">  
                  {{ form.dom_kabkot }}
                </div>

                <h4>{{ form.dom_prov.label }}</h4>
                <div class="input-group mb-3">  
                  {{ form.dom_prov }}
                </div>
              </td>
            </tr>
        </table>
      	</div>
          <input class="btn btn-outline-primary" type="submit" value="Simpan">

        </form>
   
  </div> 

{% endblock %}