{% extends "base.html" %}
{% load static %}

{% block title %}
SIRUCO - Buat Paket Makan
{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>Buat Paket Makan</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>

    <div class="container d-flex justify-content-center" align="center">
        <form action="{% url 'green:create_paket_makan' %}" method="post" id="create_paket_makan">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
            </div>
            {% endif %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert alert-danger alert-dismissable" role="alert">{{ message }}</div>
                {% endfor %}
            </ul>
            {% endif %}

            <h4><label for="{{ form.KodeHotel.id_for_label }}">Kode Hotel</label></h4>
            {% if form.KodeHotel.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.KodeHotel.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-kode-hotel"></i></span>
                </div>
                {{ form.KodeHotel }}
            </div>

            <h4><label for="{{ form.KodePaket.id_for_label }}">Kode Paket</label></h4>
            {% if form.KodePaket.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.KodePaket.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-kode-paket"></i></span>
                </div>
                {{ form.KodePaket }}
            </div>
            
            <h4><label for="{{ form.NamaPaket.id_for_label }}">Nama Paket</label></h4>
            {% if form.NamaPaket.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.NamaPaket.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-nama-paket"></i></span>
                </div>
                {{ form.NamaPaket }}
            </div>

            <h4><label for="{{ form.Harga.id_for_label }}">Harga</label></h4>
            {% if form.Harga.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.Harga.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-harga"></i></span>
                </div>
                {{ form.Harga }}
            </div>
            
            <input class="btn btn-outline-success" style="margin-bottom: 1rem;" type="submit" value="Simpan">
        </form>
    </div>
    



{% endblock %}
