{% extends "base.html" %}
{% load static %}

{% block title %}
SIRUCO - Buat Transaksi Makan
{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>Buat Transaksi Makan</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>

    <div class="container d-flex justify-content-center" align="center">
        <form action="{% url 'green:create_transaksi_makan' %}" method="post" id="create_transaksi_makan">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
            </div>
            {% endif %}
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert alert-danger alert-dismissable" role="alert">{{ message }}</div>
                {% endfor %}
            </ul>
            {% endif %}
            
            <h4><label for="{{ form.IDTransaksi.id_for_label }}">ID Transaksi</label></h4>
            {% if form.IDTransaksi.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.IDTransaksi.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-id_transaksi"></i></span>
                </div>
                {{ form.IDTransaksi }}
            </div>

            <h4><label for="{{ form.IDTransaksiMakan.id_for_label }}">ID Transaksi Makan</label></h4>
            {% if form.IDTransaksiMakan.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.IDTransaksiMakan.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-id_transaksi_makan"></i></span>
                </div>
                {{ form.IDTransaksiMakan }}
            </div>


            <h4><label for="{{ form.KodeHotel.id_for_label }}">Kode Hotel</label></h4>
            {% if form.KodeHotel.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.KodeHotel.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-kode-hotel"></i></span>
                </div>
                {{ form.KodeHotel }}
            </div>

            <h4><label for="{{ form.KodePaket.id_for_label }}">Kode Paket</label></h4>
            {% if form.KodePaket.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.KodePaket.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-kode-paket"></i></span>
                </div>
                {{ form.KodePaket }}
            </div>
            
            <h4><label for="{{ form.KodePaket.id_for_label }}">Kode Paket</label></h4>
            {% if form.KodePaket.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.KodePaket.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-kode-paket"></i></span>
                </div>
                {{ form.KodePaket }}
            </div>

            <h4><label for="{{ form.KodePaket.id_for_label }}">Kode Paket</label></h4>
            {% if form.KodePaket.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.KodePaket.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-kode-paket"></i></span>
                </div>
                {{ form.KodePaket }}
            </div>

            <h4><label for="{{ form.KodePaket.id_for_label }}">Kode Paket</label></h4>
            {% if form.KodePaket.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.KodePaket.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-kode-paket"></i></span>
                </div>
                {{ form.KodePaket }}
            </div>

            <h4><label for="{{ form.KodePaket.id_for_label }}">Kode Paket</label></h4>
            {% if form.KodePaket.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.KodePaket.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-kode-paket"></i></span>
                </div>
                {{ form.KodePaket }}
            </div>

            <input class="btn btn-outline-success" style="margin-bottom: 1rem;" type="submit" value="Tambah">
            <h4><label for="{{ form.KodePaket.id_for_label }}">Kode Paket</label></h4>
            {% if form.KodePaket.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.KodePaket.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-kode-paket"></i></span>
                </div>
                {{ form.KodePaket }}
            </div>

            <input class="btn btn-outline-success" style="margin-bottom: 1rem;" type="submit" value="Simpan">
        </form>
    </div>
    



{% endblock %}
