{% extends "base.html" %}
{% load static %}

{% block title %}
SIRUCO - Detail Transaksi Makan
{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>Detail Transaksi Makan</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>

    <div class="container justify-content-center" align="center">
        {% for row in data %}
            <h2>ID Transaksi: </h2>
            <p> {{ row.idtransaksi }} </p>

            <h2>ID Transaksi Makan: </h2>
            <p> {{ row.idtransaksimakan }} </p>

            <h2>Kode Hotel: </h2>
            <p> {{ row.kodehotel }} </p>

            <table class="table table-responsive" align="center">
                
                
                <tr>
                    <td>
                        <h4>ID Pesanan</h4>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-id-pesanan"></i></span>
                            </div>
                            <input readonly class="form-control" value="{{ forloop.counter }}">
                        </div>
                        <h4>Paket Makan</h4>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-paket-makan"></i></span>
                            </div>
                            <input readonly class="form-control" value="{{ row.kodepaket }}">
                        </div>
                        <h4>Harga</h4>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-harga"></i></span>
                            </div>
                            <input readonly class="form-control" value="{{ row.harga }}">
                        </div>
                    </td>
                </tr>
            </table>
        {% endfor %}
    </div>
    <div class="container d-flex justify-content-center" align="center" style="margin-bottom: 1rem">
        <a href="/list_transaksi_makan" class="btn btn-success">Kembali</a>
    </div>

{% endblock %}