{% extends "base.html" %}
{% load static %}

{% block title %}
    List Paket Makan
{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>List Paket Makan</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>
    
    <div class="container d-flex justify-content-center" align="center">
        <table class="table table-hover" align="center">
            <thead class="thead-dark">
            <tr>
                <th>No.</th>
                <th>Hotel</th>
                <th>Kode Paket</th>
                <th>Nama Paket</th>
                <th>Harga</th>

                {% if request.session.role == 'ADMIN' %}
                <th>Action</th>
                {% endif %}

            </tr>
            </thead>
            {% for row in data %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ row.kodehotel }}</td>
                    <td>{{ row.kodepaket }}</td>
                    <td>{{ row.nama }}</td>
                    <td>{{ row.harga }}</td>

                    {% if request.session.role == 'ADMIN' %}
                    <td>
                        <form action="{% url 'green:update_paket_makan' %}" method="get">
                            <input type="hidden" id="kodehotel" name="kodehotel" value="{{ row.kodehotel }}">
                            <input type="hidden" id="kodepaket" name="kodepaket" value="{{ row.kodepaket }}">
                            <input type="submit" class="btn btn-success" value="Update">
                        </form>

                        <form action="{% url 'green:delete_paket_makan' %}" method="get">
                            <input type="hidden" id="kodehotel" name="kodehotel" value="{{ row.kodehotel }}">
                            <input type="hidden" id="kodepaket" name="kodepaket" value="{{ row.kodepaket }}">
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </form>
                    </td>
                    {% endif %}
                </tr>              
            {% endfor %}
        </table>
    </div>
    

{% endblock %}