{% extends "base.html" %}
{% load static %}

{% block title %}
    List Transaksi Makan
{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>List Transaksi Makan</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>
    
    <div class="container d-flex justify-content-center" align="center">
        <table class="table table-hover" align="center">
            <thead class="thead-dark">
            <tr>
                <th>No.</th>
                <th>Id Transaksi Hotel</th>
                <th>Id Transaksi</th>
                <th>Total Bayar</th>
                {% if request.session.role == 'PENGGUNA_PUBLIK' %}
                <th>Action</th>
                {% endif %}

                {% if request.session.role == 'ADMIN_SATGAS' %}
                <th>Action</th>
                {% endif %}

            </tr>
            </thead>
            {% for row in data %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ row.idtransaksi }}</td>
                    <td>{{ row.idtransaksimakan }}</td>
                    <td>{{ row.totalbayar }}</td>

                    {% if request.session.role == 'PENGGUNA_PUBLIK' %}
                    <td>
                        <form action="{% url 'green:list_transaksi_makan' %}" method="get">
                            <input type="hidden" id="idtransaksimakan" name="idtransaksimakan" value="{{ row.idtransaksimakan }}">
                            <input type="submit" class="btn btn-success" value="Detail">
                        </form>
                                
                    </td>
                    {% endif %}

                    {% if request.session.role == 'ADMIN_SATGAS' %}
                    <td>
                        <form action="{% url 'green:update_transaksi_makan' %}" method="get">
                            <input type="hidden" id="idtransaksimakan" name="idtransaksimakan" value="{{ row.idtransaksimakan }}">
                            <input type="submit" class="btn btn-success" value="Update">
                        </form>

                        <form action="{% url 'green:list_transaksi_makan' %}" method="get">
                            <input type="hidden" id="idtransaksimakan" name="idtransaksimakan" value="{{ row.idtransaksimakan }}">
                            <input type="submit" class="btn btn-success" value="Detail">
                        </form>

                        <form action="{% url 'green:delete_transaksi_makan' %}" method="get">
                            <input type="hidden" id="idtransaksimakan" name="idtransaksimakan" value="{{ row.idtransaksimakan }}">
                            <input type="submit" class="btn btn-danger" value="Delete">
                        </form>
                    </td>
                    {% endif %}
                </tr>              
            {% endfor %}
        </table>
    </div>
    

{% endblock %}