{% extends "base.html" %}
{% load static %}

{% block title %}
    List Hotel
{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>List Hotel</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>
    
    <div class="container d-flex justify-content-center" align="center">
        <table class="table table-hover" align="center">
            <thead class="thead-dark">
            <tr>
                <th>No.</th>
                <th>Kode</th>
                <th>Hotel</th>
                <th>Rujukan</th>
                <th>Alamat</th>
                <!-- <th>jalan</th>
                <th>kelurahan</th>
                <th>kecamatan</th>
                <th>kabkot</th>
                <th>prov</th> -->

                {% if request.session.role == 'ADMIN' %}
                <th>Action</th>
                {% endif %}

            </tr>
            </thead>
            {% for row in data %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ row.kode }}</td>
                    <td>{{ row.nama }}</td>
                    {% if row.isrujukan == '1' %}
                    <td><i class="fa fa-check-square"></i></td>
                    {% endif %}
                    {% if row.isrujukan == '0' %}
                    <td><i class="fa fa-square-o"></i></td>
                    {% endif %}
                    <td>{{ row.alamat }}</td>
                    <!-- <td>{{ row.jalan }}</td>
                    <td>{{ row.kelurahan }}</td>
                    <td>{{ row.kecamatan }}</td>
                    <td>{{ row.kabkot }}</td>
                    <td>{{ row.prov }}</td> -->

                    {% if request.session.role == 'ADMIN' %}
                    <td>
                        <form action="{% url 'green:update_paket_makan' %}" method="get">
                            <input type="hidden" id="kodehotel" name="kodehotel" value="{{ row.kodehotel }}">
                            <input type="submit" class="btn btn-success" value="Update">
                        </form>
                    </td>
                    {% endif %}
                </tr>              
            {% endfor %}
        </table>
    </div>
    

{% endblock %}