{% extends "base.html" %}
{% load static %}

{% block title %}
SIRUCO - Update Paket Makan
{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>Update Paket Makan</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>

{% endblock %}