{% extends "base.html" %}
{% load static %}

{% block title %}Home - SIRUCO{% endblock %}

{% block content %}
<div class='jumbotron justify-content-center' align="center">
    <h4>Selamat Datang di</h4>
    <hr>
    <h1>SIRUCO</h1>
</div>
{% endblock %}
