{% extends "base.html" %}
{% load static %}

{% block title %}Login - SIRUCO{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>Login</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>
    <div class="container d-flex justify-content-center" align="center">
        <form action="{% url 'login' %}" method="post">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <div class="alert alert-danger alert-dismissable" role="alert">{{ message }}</div>
                {% endfor %}
            </ul>
            {% endif %}
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
            </div>
            {% endif %}
            <h4><label for="{{ form.username.id_for_label }}">Email</label></h4>
            {% if form.username.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.username.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                </div>
                {{ form.username }}
            </div>

            <h4><label for="{{ form.password.id_for_label }}">Password</label></h4>
            {% if form.password.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.password.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-key"></i></span>
                </div>
                {{ form.password }}
            </div>

            <input class="btn btn-outline-primary" type="submit" value="Login">
        </form>
    </div>
    <div class="container">
    <hr>
    </div>
    <div class="container justify-content-center" align="center">
        <h4>Belum punya akun?</h4>
        <a href="{% url 'register' %}" class="btn btn-outline-primary">Daftar sekarang!</a>
    </div>
{% endblock %}
