<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid d-flex mr-auto">
        <a class="navbar-brand" href="{% url 'home' %}" style="font-family: 'Abril Fatface'; color:rgb(35, 63, 40);">
            <i class="d-inline-block align-center fa fa-medkit" style="color:green;"></i>
            SIRUCO
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">

    <ul class="nav navbar-nav justify-content-start">
        {% if request.session.username %}
        {% if request.session.role != 'ADMIN' %}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Pasien
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {% if request.session.role == 'PENGGUNA_PUBLIK' %}
        <a class="dropdown-item" href="{% url 'pasien:create_pasien' %}">Pendaftaran Pasien</a>
        <a class="dropdown-item" href="{% url 'pasien:list_pasien' %}">List Pasien</a>
        {% endif %}
        
        {% if request.session.role == 'PENGGUNA_PUBLIK' or request.session.role == 'ADMIN_SATGAS' %}
        <a class="dropdown-item" href="{% url 'purple:create_appointment' %}">Buat Appointment</a>
        {% endif %}

        {% if request.session.role == 'PENGGUNA_PUBLIK' or request.session.role == 'ADMIN_SATGAS' or request.session.role == 'DOKTER' %}
        <a class="dropdown-item" href="{% url 'purple:list_appointment' %}">List Appointment</a>
        <a class="dropdown-item" href="#">List Hasil Tes Pasien</a>
        {% endif %}

        {% if request.session.role == 'DOKTER' %}
        <a class="dropdown-item" href="#">Buat Hasil Tes Pasien</a>
        {% endif %}
        </div>
        </li>
        {% endif %}


        {% if request.session.role != 'ADMIN' %}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Rumah Sakit
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {% if request.session.role == 'ADMIN_SATGAS' %}
        <a class="dropdown-item" href="{%url 'blue:buat-rumah-sakit' %}">Buat RS</a>
        <a class="dropdown-item" href="{%url 'blue:listrumahsakit' %}">List RS</a>
        <a class="dropdown-item" href="{% url 'purple:create_ruangan_rs' %}">Buat Ruangan RS</a>
        <a class="dropdown-item" href="{% url 'purple:list_ruangan_rs' %}">List Ruangan RS</a>
        <a class="dropdown-item" href="{% url 'purple:create_bed_rs' %}">Buat Bed RS</a>
        <a class="dropdown-item" href="{% url 'purple:list_bed_rs' %}">List Bed RS</a>        
        <a class="dropdown-item" href="{%url 'blue:reservasirs' %}">Buat Reservasi RS</a>
        {% endif %}
        
        {% if request.session.role == 'PENGGUNA_PUBLIK' or request.session.role == 'ADMIN_SATGAS' %}
        <a class="dropdown-item" href="{%url 'blue:listreservasirs' %}">List Reservasi RS</a>
        {% endif %}

        {% if request.session.role == 'PENGGUNA_PUBLIK' or request.session.role == 'ADMIN_SATGAS' or request.session.role == 'DOKTER' %}
        <a class="dropdown-item" href="{% url 'purple:list_jadwal_dokter' %}">List Jadwal Dokter</a>
        {% endif %}

        {% if request.session.role == 'DOKTER' %}
        <a class="dropdown-item" href="{% url 'purple:list_jadwal' %}">Buat Jadwal Dokter</a>
        {% endif %}
        </div>
        </li>
        {% endif %}

        {% if request.session.role != 'DOKTER' %}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Hotel
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {% if request.session.role == 'ADMIN' %}
        <a class="dropdown-item" href="{%url 'green:list_hotel' %}">Buat Hotel</a>
        <a class="dropdown-item" href="{%url 'green:list_hotel' %}">List Hotel</a>
        <a class="dropdown-item" href="{% url 'jingga:create-listruanganhotel' %}">Buat Ruangan Hotel</a>
        <a class="dropdown-item" href="{% url 'jingga:listruanganhotel' %}">List Ruangan Hotel</a>
        <a class="dropdown-item" href="{%url 'green:create_paket_makan' %}">Buat Paket Makan</a>
        <a class="dropdown-item" href="{%url 'green:list_paket_makan' %}">List Paket Makan</a>        
        {% endif %}
        
        {% if request.session.role == 'PENGGUNA_PUBLIK' %}
        <a class="dropdown-item" href="{%url 'green:list_hotel' %}">List Hotel</a>
        <a class="dropdown-item" href="{% url 'jingga:listruanganhotel' %}">List Ruangan Hotel</a>
        <a class="dropdown-item" href="{%url 'green:list_paket_makan' %}">List Paket Makan</a>
        <a class="dropdown-item" href="{% url 'jingga:create-reservasihotel' %}">Buat Reservasi Hotel</a>
        <a class="dropdown-item" href="{% url 'jingga:listreservasihotel' %}">List Reservasi Hotel</a>
        {% endif %}

        {% if request.session.role == 'ADMIN_SATGAS' %}
        <a class="dropdown-item" href="{%url 'green:list_hotel' %}">List Hotel</a>
        <a class="dropdown-item" href="{% url 'jingga:listruanganhotel' %}">List Ruangan Hotel</a>
        <a class="dropdown-item" href="{%url 'green:list_paket_makan' %}">List Paket Makan</a>
        <a class="dropdown-item" href="{% url 'jingga:create-reservasihotel' %}">Buat Reservasi Hotel</a>
        <a class="dropdown-item" href="{% url 'jingga:listreservasihotel' %}">List Reservasi Hotel</a>
        {% endif %}
        </div>
        </li>
        {% endif %}

        {% if request.session.role == 'ADMIN_SATGAS' or request.session.role == 'PENGGUNA_PUBLIK' %}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Transaksi
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        {% if request.session.role == 'ADMIN_SATGAS' %}
        <a class="dropdown-item" href="#">List Transaksi RS</a>
        <a class="dropdown-item" href="{% url 'jingga:listtransaksihotel' %}">List Transaksi Hotel</a>
        <a class="dropdown-item" href="{% url 'jingga:listtransaksibooking' %}">List Transaksi Booking Hotel</a>
        <a class="dropdown-item" href="{%url 'blue:listtransaksirs' %}">List Transaksi RS</a>
        <a class="dropdown-item" href="{%url 'green:create_transaksi_makan' %}">Buat Transaksi Makan dan Daftar Pesan</a>
        <a class="dropdown-item" href="{%url 'green:list_transaksi_makan' %}">List Transaksi Makan dan Daftar Pesan</a>
        {% endif %}
        
        {% if request.session.role == 'PENGGUNA_PUBLIK' %}
        <a class="dropdown-item" href="#">Bayar Transaksi RS</a>
        <a class="dropdown-item" href="#">Bayar Transaksi Hotel</a>
        <a class="dropdown-item" href="{% url 'jingga:listtransaksibooking' %}">List Transaksi Booking Hotel</a>
        <a class="dropdown-item" href="{%url 'green:create_transaksi_makan' %}">Buat Transaksi Makan dan Daftar Pesan</a>
        <a class="dropdown-item" href="{%url 'green:list_transaksi_makan' %}" role="button">List Transaksi Makan dan Daftar Pesan</a>
        {% endif %}
        </div>
        </li>
        {% endif %}

        {% if request.session.role == 'ADMIN_SATGAS' %}
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Faskes
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="{%url 'blue:buat-faskes' %}">Buat Faskes</a>
        <a class="dropdown-item" href="{%url 'blue:listfaskes' %}">List Faskes</a>
        <a class="dropdown-item" href="{%url 'blue:buat-jadwal' %}">Buat Jadwal Faskes</a>
        <a class="dropdown-item" href="{%url 'blue:listjadwal' %}">List Jadwal Faskes</a>
        {% endif %}
        </div>
        </li>
        {% endif %}
    </ul>

        <ul class="d-flex align-items-center nav navbar-nav ml-auto justify-content-end">
        {% if request.session.username %}
        <li class="navbar-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" align="right" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span>
        <strong>{{ request.session.nama }}</strong> <i class="fa fa-user"></i>
        </span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
        <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </div>
        </li>
        {% else %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        {% endif %}
        </ul>
        </div>
    </div>
</nav>

