{% extends "base.html" %}
{% load static %}

{% block title %}Profile - SIRUCO{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>Profil {{ request.session.nama }}</h1>
        <hr>
        <h4>Peran:
            {% if request.session.role == 'PENGGUNA_PUBLIK' %}
                Pengguna Publik
            {% elif request.session.role == 'ADMIN_SATGAS' %}
                Admin Satgas
            {% elif request.session.role == 'DOKTER' %}
                Dokter
            {% elif request.session.role == 'ADMIN' %}
                Admin
            {% endif %}
        </h4>
    </div>

    <div class="container justify-content-center" align="center">
        <table class="table table-responsive" align="center">
            <tr>
                <td>
                    <h4>Email</h4>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                        </div>
                        <input readonly class="form-control" value="{{ user.0 }}">
                    </div>

                </td>
                <td>
                    {% if request.session.role == 'PENGGUNA_PUBLIK' %}
                        <h4>Nama</h4>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input readonly class="form-control" value="{{ role.2 }}">
                        </div>
                        <h4>NIK</h4>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-id-card"></i></span>
                            </div>
                            <input readonly class="form-control" value="{{ role.1 }}">
                        </div>
                        <h4>Status</h4>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-toggle-on"></i></span>
                            </div>
                            <input readonly class="form-control" value="{{ role.3 }}">
                        </div>
                        <h4>Peran</h4>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input readonly class="form-control" value="{{ role.4 }}">
                        </div>
                        <h4>Nomor Handphone</h4>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-mobile"></i></span>
                            </div>
                            <input readonly class="form-control" value="{{ role.5 }}">
                        </div>
                    {% endif %}
                    {% if request.session.role == 'DOKTER' %}
                        <h4>Nomor STR</h4>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user-md"></i></span>
                            </div>
                            <input readonly class="form-control" value="{{ role.1 }}">
                        </div>
                        <h4>Nama</h4>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                            </div>
                            <input readonly class="form-control" value="{{ role.2 }}">
                        </div>
                        <h4>Nomor HP</h4>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-mobile"></i></span>
                            </div>
                            <input readonly class="form-control" value="{{ role.3 }}">
                        </div>
                    {% endif %}
                    {% if request.session.role == 'ADMIN_SATGAS' %}
                        <h4>ID Faskes</h4>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-building"></i></span>
                            </div>
                            <input readonly class="form-control" value="{{ role.1 }}">
                        </div>
                    {% endif %}
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
