{% extends "base.html" %}
{% load static %}

{% block title %}Register Admin Satgas - Siruco{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>Registrasi Admin Satgas</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>

    {% if message is not None %}
    <div style="padding:auto; width:600px; height:50px; margin:auto; text-align=center;" class="alert alert-danger" role="alert" text-align="center">
    {{ message }}
    </div>
    {% endif %}
    <br>
    <br>

    <div class="container d-flex justify-content-center" align="center">
        <form action="{% url 'register_admin_satgas' %}" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
            </div>
            {% endif %}
            <h4><label for="{{ form.username.id_for_label }}">Email</label></h4>
            {% if form.username.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.username.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                </div>
                {{ form.username }}
            </div>

            <h4><label for="{{ form.password.id_for_label }}">Password</label></h4>
            {% if form.password.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.password.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-key"></i></span>
                </div>
                {{ form.password }}
            </div>

            <h4><label for="{{ form.kode_faskes.id_for_label }}">Kode Faskes</label></h4>
            {% if form.kode_faskes.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.kode_faskes.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-hospital"></i></span>
                </div>
                {{ form.kode_faskes }}
            </div>

            <input class="btn btn-outline-success" type="submit" value="Register">
        </form>
    </div>
    <br>
    <br>
{% endblock %}
