{% extends "base.html" %}
{% load static %}

{% block title %}SIRUCO - Registrasi Pengguna Publik{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>SIRUCO</h1>
        <hr>
        <h4>Registrasi Pengguna Publik</h4>
    </div>

    {% if message is not None %}
    <div style="padding:auto; width:600px; height:50px; margin:auto; text-align=center;" class="alert alert-danger" role="alert" text-align="center">
    {{ message }}
    </div>
    {% endif %}
    <br>
    <br>

    <div class="container d-flex justify-content-center" align="center">
        <form action="{% url 'register_pengguna_publik' %}" method="post">
            {% csrf_token %}
            {% if form1.non_field_errors %}
            <div class="alert alert-danger" role="alert">
            {{ form1.non_field_errors }}
            </div>
            {% endif %}
            <h4><label for="{{ form1.username.id_for_label }}">Email</label></h4>
            {% if form1.username.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form1.username.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                </div>
                {{ form1.username }}
            </div>

            <h4><label for="{{ form1.password.id_for_label }}">Password</label></h4>
            {% if form1.password.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form1.password.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-key"></i></span>
                </div>
                {{ form1.password }}
            </div>

            <h4><label for="{{ form1.nama.id_for_label }}">Nama</label></h4>
            {% if form1.nama.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form1.nama.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                {{ form1.nama }}
            </div>

            <h4><label for="{{ form1.nik.id_for_label }}">NIK</label></h4>
            {% if form1.nik.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form1.nik.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                {{ form1.nik }}
            </div>

            <h4><label for="{{ form1.nohp.id_for_label }}">Nomor Handphone</label></h4>
            {% if form1.nohp.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form1.nohp.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-mobile"></i></span>
                </div>
                {{ form1.nohp }}
            </div>
            <input class="btn btn-outline-success" type="submit" value="Register">
        </form>
    </div>
    <br>
    <br>
{% endblock %}
