{% extends "base.html" %}
{% load static %}

{% block title %}Register Dokter - SIRUCO{% endblock %}

{% block content %}
    <div class='jumbotron justify-content-center' align="center">
        <h1>Registrasi Dokter</h1>
        <hr>
        <h4>SIRUCO</h4>
    </div>

    {% if message is not None %}
    <div style="padding:auto; width:600px; height:50px; margin:auto; text-align=center;" class="alert alert-danger" role="alert" text-align="center">
    {{ message }}
    </div>
    {% endif %}
    <br>
    <br>

    <div class="container d-flex justify-content-center" align="center">
        <form action="{% url 'register_dokter' %}" method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.non_field_errors }}
            </div>
            {% endif %}
            <h4><label for="{{ form.username.id_for_label }}">Email</label></h4>
            {% if form.Username.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.username.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                </div>
                {{ form.username }}
            </div>

            <h4><label for="{{ form.password.id_for_label }}">Password</label></h4>
            {% if form.password.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.password.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-key"></i></span>
                </div>
                {{ form.password }}
            </div>

            <h4><label for="{{ form.nomor_str.id_for_label }}">Nomor STR</label></h4>
            {% if form.nomor_str.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.nomor_str.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-address-card"></i></span>
                </div>
                {{ form.nomor_str }}
            </div>

            <h4><label for="{{ form.nama.id_for_label }}">Nama</label></h4>
            {% if form.nama.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.nama.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                {{ form.nama }}
            </div>

            <h4><label for="{{ form.no_hp.id_for_label }}">Nomor Handphone</label></h4>
            {% if form.no_hp.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.no_hp.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-phone"></i></span>
                </div>
                {{ form.no_hp }}
            </div>

            <h4><label for="{{ form.gelar_depan.id_for_label }}">Gelar Depan</label></h4>
            {% if form.gelar_depan.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.gelar_depan.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user-md"></i></span>
                </div>
                {{ form.gelar_depan }}
            </div>

            <h4><label for="{{ form.gelar_belakang.id_for_label }}">Gelar Belakang</label></h4>
            {% if form.gelar_belakang.errors %}
            <div class="alert alert-danger" role="alert">
            {{ form.gelar_belakang.errors }}
            </div>
            {% endif %}
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-user-md"></i></span>
                </div>
                {{ form.gelar_belakang }}
            </div>
            <input class="btn btn-outline-success" type="submit" value="Register">
        </form>
    </div>
    <br>
    <br>
{% endblock %}
