body {
  background-color: rgb(187, 214, 176);
  font-family: 'Josefin Sans';
}

.navbar {
  background-color: rgb(255, 238, 169);
}

.table {
  border-color: rgb(79, 69, 65);
}

.jumbotron {
  background-color: rgb(171, 208, 153);
}

.bg-light {
  background-color: rgb(204, 199, 179);
}

h1 {
  color: rgb(29, 27, 27);
  font-weight: 200;
  font-size: 30px;
  font-family: "Abril Fatface";
}

h2, h3, h4, h5 {
  color: rgb(29, 27, 27);
  font-family: "Abril Fatface";
}

a, p {
  color: rgb(29, 27, 27);
  font-family: "Josefin Sans";
}
